.container {
  margin-top: 2.5rem;
}

.post {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.imgContainer {
  flex: 1;
  height: 31rem;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.postButton {
  padding: 0.8rem;
  border: solid 0.2rem var(--green);
  border-radius: 0.5rem;
  width: max-content;
  background-color: transparent;
  color: var(--green);
  font-weight: bold;
}

.postButton:hover {
  border: solid 0.2rem var(--orange);
  color: var(--orange);
  cursor: pointer;
}

.postButton:focus {
  border: solid 0.2rem var(--focusOrange);
  color: var(--focusOrange);
  cursor: pointer;
}

/* --------------- TYPOGRAPHY --------------- */

.h1 {
  font-size: 5rem;
  color: var(--text);
  margin-bottom: 1rem;
}

.h1Accent {
  text-decoration: underline;
}

.h2Container {
  display: flex;
  position: relative;
}

.h2 {
  font-size: 2rem;
  color: var(--softText);
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  z-index: 100;
}

.h3 {
  font-size: 1.5rem;
  color: var(--softText);
  margin-bottom: 0.6rem;
  font-weight: 700;
}

.postDescription {
  font-size: 1rem;
  color: var(--softText);
  margin-bottom: 0.6rem;
  font-weight: 400;
}

.box {
  width: 10rem;
  height: 10rem;
  background-color: var(--green);
  position: absolute;
  z-index: 0;
  transform: rotate(-20deg);
  top: 2.5rem;
}

/* --------------- RESPONSIVE DESIGN --------------- */
@media screen and (max-width: 1024) {
  .h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640) {
  .h1 {
    font-size: 2rem;
  }
}
